body {
    background-color: aqua;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

#one {
    background-color: white;
    width: 2%;
    padding: 25px;
    text-align: center;
}

#two {
    background-color: white;
    width: 2%;
    padding: 25px;
    text-align: center;
}

#three {
    background-color: white;
    width: 2%;
    padding: 25px;
    text-align: center;
}

#four {
    background-color: white;
    width: 2%;
    padding: 25px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    
}

 @media screen and (max-width: 400px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    body {
        background-color: brown;
    }
  }